<!doctype html>

{% assign first_coffee = coffees.images | first %}
{% assign last_coffee = coffees.images | last %}

<html lang="en">
  <head>
    <title>
      {{ coffees.images.length }}
      coffees
    </title>

    <meta
      name="description"
      content="A picture of every coffee I drank between {{ first_coffee.day | formatDate }} and {{ last_coffee.day | formatDate }}."
    >
    <meta name="author" content="Christian Ost">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- TODO: favicon! -->
    <link rel="preconnect" href="https://coffeedn.christianost.de">

    {% capture css %}
      {% include "../_includes/css-reset.css" %}
      {% getBundle "css" %}
    {% endcapture %}
    <!-- -- TODO: minify -->
    <style>
      {{ css }}
    </style>

    <!-- -- TODO: process the shit out of this CSS -->
    <style>
      @font-face {
        font-family: "Knewave";
        font-display: swap;
        src: url("/_fonts/knewave.woff");
      }
      :root {
        --spacing-1: 1rem;
        --spacing-2: 2rem;
        --spacing-3: 3rem;
        --spacing-4: 4rem;
        --font-family-serif:
          system-ui,
          -apple-system,
          BlinkMacSystemFont,
          "Segoe UI",
          Roboto,
          Oxygen,
          Ubuntu,
          Cantarell,
          "Open Sans",
          "Helvetica Neue",
          sans-serif;
      }
      html,
      body {
        min-height: 100%;
        font-family: var(--font-family-serif);
      }
      body {
        padding: 0 var(--spacing-1);
        background-color: #fffdf6;
        color: #040404;
      }

      h1 {
        font-family: Knewave, var(--font-family-serif);
        font-weight: normal;
        font-size: clamp(1.5rem, -0.875rem + 8.333vw, 4rem);
        margin:
          clamp(var(--spacing-2), -0.875rem + 8.333vw, var(--spacing-4))
          var(--spacing-1)
          clamp(var(--spacing-1), -0.875rem + 8.333vw, var(--spacing-2))
        ;
      }
      h1 span.numeric {
        font-size: 2em;
      }

      p {
        font-family: Charter, Bitstream Charter, serif;
        margin-bottom: 0.5rem;
      }
      p.footnote {
        font-size: 0.8rem;
        color: #04040455;
      }

      p#explainer {
        font-style: italic;
        margin: auto var(--spacing-1) clamp(var(--spacing-1), -0.875rem + 8.333vw, var(--spacing-2));
      }
      .coffees {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(min(max(50px, 25%), 300px), 1fr));
        grid-gap: var(--spacing-1);
      }
      .coffees img {
        width: 100%;
        height: 100%;
        aspect-ratio: 1 / 1;
        border-radius: calc(var(--spacing-1) / 2);
        overflow: hidden;
      }

      footer {
        text-align: center;
        margin: var(--spacing-2);
      }

      .nowrap {
        white-space: nowrap;
      }
    </style>
  </head>
  <body>
    <header>
      <h1>
        <span class="numeric">{{ coffees.images.length }}</span>
        coffees
      </h1>
    </header>
    <main>
      <p id="explainer">
        A picture of every coffee I drank between
        <span class="nowrap">{{ first_coffee.day | formatDate }}</span>
        and
        <span class="nowrap">{{ last_coffee.day | formatDate }}</span>.
      </p>
      <div class="coffees">
        {% assign all_coffees_desc = coffees.images | reverse %}
        {% for coffee in all_coffees_desc %}
          <img
            id="{{ coffee.id }}"
            style="background: {{ coffee.images.blurhash | blurhashColorRgb }}"
            alt=""
            src="https://coffeedn.christianost.de/{{ coffee.images['300'] }}"
            width="300"
            height="300"
            decoding="async"
            {% if forloop.index0 < 10 %}
              loading="eager"
            {% else %}
              loading="lazy"
            {% endif %}
          >
          </img>
        {% endfor %}
      </div>
    </main>
    <footer>
      <p class="info footnote">
        by
        <a href="/">Christian Ost</a>
        – last updated on
        <span class="nowrap">{{ coffees.createdAt | split: 'T' | first | formatDate }}</span>
      </p>
    </footer>
  </body>
</html>
